.form-container {
    width: 50%;
}

.update-btn.submit {
    width: 25%;
}

@media only screen and (max-width:576px) {
    .form-container {
        width: 90%;
    }

    .update-btn.submit {
        width: 60%;
    }
}