.news img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2ea44f63;
    border: 1px solid rgba(27, 31, 35, 0.557);
}

.news {
    display: flex;
    align-items: center;
}

.news-title p {
    margin: 0;
}

.news-title {
    margin-left: 15px;
}

.anews-container {
    border: 2px solid rgba(27, 31, 35, .15);
    border-radius: 40px;
    padding: 20px;
    background: rgba(27, 31, 35, 0.051);
    border-top-right-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.anews-container:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px rgba(184, 249, 211, 0.48);
    background-color: #fff;
}

.anews-container:hover .overlay {
    transform: scale(4) translateZ(0);
}

.anews-container:hover .circle {
    border-color: #F0E7FF;
    background: #2ea44fbe;
    transition: all 0.3s ease-out;
}

.anews-container:hover .circle:after {
    background: #F0E7FF;
}


.reporter-name {
    font-weight: 600;
}